%h1 Новый комментарий
= form_for :comment, url: comments_path do |f|
  %p
    = f.label 'Содержание:'
    %br/
    = f.text_area :content, class: "form-control", cols: "30", rows: "10"
    = f.hidden_field :article_id, value: params[:article_id]
  %p
    = f.submit 'Сохранить', class: "btn btn-lg btn-primary btn-block"
