<h1>Новый комментарий</h1>  

<%= form_for :comment, url: comments_path do |f| %>

  <p>
    <%= f.label 'Содержание:' %><br>
    <%= f.text_area :content %>
    <%= f.hidden_field :article_id, value: params[:article_id]%>
  </p>

  <p>
    <%= f.submit 'Сохранить' %>
  </p>

<% end %>