<% if user_signed_in? %>
  <h1><span class="glyphicon glyphicon-list-alt"></span> Все записи</h1>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li><a href="#common" data-toggle="tab">Общая лента</a></li>
    <li><a href="#private" data-toggle="tab">Личная лента</a></li>
    <li class="active"><a href="#project" data-toggle="tab">Лента проекта "<%= Project.find(current_user.current_project_id).title %>"</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane fade in active" id="common">
      <%= render partial: 'shared/record', locals: {articles: @articles_common, tab_name: "common" } %>
    </div>
    <div class="tab-pane fade" id="private">
      <%= render partial: 'shared/record', locals: {articles: @articles_my_own, tab_name: "private" } %>
    </div>
    <div class="tab-pane fade" id="project">
      <%= render partial: 'shared/record', locals: {articles: @articles_project, tab_name: "project" } %>
    </div>
  </div>
<% else %>
  <h1><span class="glyphicon glyphicon-list-alt" /></span> Общие записи</h1>
  <div>
    <%= render partial: 'shared/record', locals: {articles: @articles_common } %>
  </div>
<% end %>