<br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
	    <div class="col-md-4">
	    	<h2 style="text-align: center;">Забыли пароль?</h2>
	    	<br><br>
			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			  <%= devise_error_messages! %>

			  <div class="field">
			    <%= f.email_field :email, class: "form-control", placeholder: "Введите ваш email", autofocus: true %>
			  </div>
			  <br><br>

			  <div class="actions">
			    <%= f.submit "Восстановить доступ", class: "btn btn-lg btn-primary btn-block"  %>
			  </div>
			<% end %>
			<br><br>
			<%= render "devise/shared/links" %>
	    </div>
    <div class="col-md-2"></div>
  </div>
</div>