<table width="100%">
  <thead>
    <h1>Все проекты</h1>
  </thead>
  <tbody>
  <tr>
    <td>
      <%= link_to '<span class="glyphicon glyphicon-plus-sign"> Добавить</span>'.html_safe, new_project_path, class: "btn btn-success" %>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% @projects.each do |project| %>
    <tr>
      <td>
        <% if current_user.current_project_id == project.id %>
          <p>
            <span class="glyphicon glyphicon-arrow-right"></span><b> Текущий проект</b>
          </p>
        <% else %>
          <%= form_tag("projects/change_current_project", method: "post") do %>
          <%= hidden_field_tag(:new_current_id, project.id) %>
          <%= submit_tag("Перейти к проекту", class: "btn btn-default") %>
          <% end %>
          
        <% end %>
      </td>
      <td>
          <p>
            <%= link_to project.title, project %>
          </p>
      </td>
      <td>
        <p>
          <%= project.description %>
        </p>
      </td>
      <td>
        <p>
          <%= link_to 'Редактировать', edit_project_path(project.id), class: "btn btn-warning" %>
        </p>
      </td>
      <td>
        <p>
          <%= link_to 'Удалить', project_path(project), method: :delete, remote: true, class: "btn btn-danger", data: { confirm: 'Вы уверены, что хотите удалить выбранный проект? Восстановить его будет невозможно, отбор записей по этому проекту также станет недоступен. Удалить?' } %>
        </p>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>