<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Solvarium</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

	<!-- Bootstrap -->
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <%= link_to 'solvarium.ru', root_path, class: "navbar-brand" %>
	    </div>
	    <div> 
	    <div class="collapse navbar-collapse" style="float: left;">
	      <ul class="nav navbar-nav">
	        <li class="active"><%= link_to 'Лента', articles_path %></li>
	        	<% if user_signed_in? %>
	        <li><%= link_to 'Проекты', projects_path %></li>
	        <% end %>
	        <li><%= link_to 'Поиск', search_path %></li>
	      </ul>
	    </div>
	    <div class="collapse navbar-collapse" style="float: right;">
	      <ul class="nav navbar-nav">
        	<% if user_signed_in? %>
        	    <li><a><span style="color: yellow;">Здравствуйте, <%= current_user.email %></span></a></li>
        	    <li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>
        	<% else %>
        	    <li><%= link_to 'Войти', new_user_session_path %></li><li><%= link_to 'Зарегистрироваться', new_user_registration_path %></li>
        	<% end %>
	      </ul>
	    </div><!--/.nav-collapse -->
	    </div>
	    <div>
	    	
	    </div>
	  </div>
	</div>

	<div class="container-fluid">
		<div class="row-fluid">
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
			<div class="span8">

			</div>
			<div class="span4">
				<%= yield %>
			</div>
		</div>
	</div><!-- /.container -->

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	
</body>
</html>
